@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap'); 

*{
  font-family: 'Poppins', sans-serif; 
  color: black;
  background-color: #F3F4F6;
}

.logoimage{
  max-width: 15px;
  max-height: 15px;

}

.cleaningimage{
  max-width: 500px;
  max-height: 700px;
  margin-right: 20px;
}

.googleIcon{
  max-width: 20px;
  max-height: 20px;
  align-items: center;
}

.forgot a{
  margin-left: 60px;
}

.logoimage{
  max-width: 100px;
  max-height: 100px;
}

.form-control{
width: 320px !important;
}

/* sidebar */
.logoimage{
  margin-bottom: 10px;
}

.sidebaricons{
  max-width: 20px;
  max-height: 20px;
  display: inline-block;
  margin-left: 10px;
  background-color: inherit;
  margin-right: 10px;
}

.sidebarTitles{
  font-size: medium;
  text-decoration: none;
  display: inline-block;
  margin: 8px;
  color: black;
  border: none;
  background-color: inherit;
}


.sidebar .pages:hover{
  border: 1px solid transparent;
  background-color: #d4d3d3a7; 
  border-radius: 20px;
  cursor: pointer;
}

.logout{
  margin-left: 10px;
}

.settings{
  margin-top: 280px;
}

.slide{
  position: absolute;
  /* background-color: #F3F4F6; */
  height: 100%;
  width: 250px;
  transition: 0.5s ease-out;
}

.sidebar .logo{
  height: 60px;
  width: 200px;
}


/* navbar */
.navbar .header{
  margin-left: 20px;
  margin-top: 20px;
  font-size: x-large;
  font-weight: 580;
}

.navbar{
  margin-left: 250px;
}

/* mainpage */
.main{
  margin-left: 300px;
  margin-top: 30px;
}

/* .toggle{
  
  position: absolute;
  height: 30px;
  width: 30px;
  top: 20px;
  left: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  cursor: pointer;
  border-radius: 2px;
}

.toggle .common{
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: #5fa4ff58;
  border-radius: 50px;
  transition: 0.3s ease;
}

.toggle .top_line{
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.toggle .middle_line{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.toggle .bottom_line{
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
} */

/* .boxy{
  display: inline-block;
} */

body{
  font-family: 'Poppins', sans-serif;
  background: #ececec;
}
/*------------ Login container ------------*/
.box-area{
  width: 930px;
}
/*------------ Right box ------------*/
.right-box{
  padding: 40px 30px 40px 40px;
}
/*------------ Custom Placeholder ------------*/
::placeholder{
  font-size: 16px;
}
.rounded-4{
  border-radius: 20px;
}
.rounded-5{
  border-radius: 30px;
}
/*------------ For small screens------------*/
@media only screen and (max-width: 768px){
   .box-area{
      margin: 0 10px;
   }
   .left-box{
      height: 100px;
      overflow: hidden;
   }
   .right-box{
      padding: 20px;
   }
}